@font-face {
	font-family: "Open Sans";
	font-display: auto;
	src: url(/fonts/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqt8ndeYxZ0.woff);
}
@font-face {
	font-family: "Raleway";
	font-display: auto;
	src: url(/fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrcVIT9d0c8.woff);
}
body {
	margin: 0px;
}
.background {
	z-index: 0;
	width: 100%;
	height: 85vh;
	background-attachment: scroll;
	background-image: url("/imgs/website/Johan Background.webp");
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.navigationBar {
	position: absolute;
	top: 30px;
	width: 100%;
	height: 80px;
}
span {
	font-family: "Open Sans", serif;
}
.topLogoTextDiv {
	z-index: 2;
	display: inline;
	position: absolute;
	top: 5%;
	left: 10%;
	color: rgb(47, 47, 47);
	font-weight: 700;
	padding-top: 10px;
}
.topLogoText {
	font-size: 35px;
}
.topTextDiv {
	z-index: 2;
	display: inline;
	position: absolute;
	top: 6.5%;
	right: 10%;
	padding-top: 25px;
}
a {
	color: inherit;
	text-decoration: none;
}
.topText {
	z-index: 2;
	color: rgb(110, 110, 110);
	font: 14px "Raleway";
	letter-spacing: .75px;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	transition: color .3s ease;
}
.topText:hover {
	color: rgb(0, 0, 0);
}
.current {
	color: rgb(255, 255, 255);
}
.verticalLine {
	background-color: rgb(110, 110, 110);
	display: inline;
	height: 30px;
	position: absolute;
	margin-top: -5px;
	width: 1px;
}
.jobbText {
	padding-right: 18px;
}
.cartText {
	padding-right: 5px;
	padding-left: 25px;
}
.cartIcon {
	position: absolute;
	margin-top: -5px;
}
.cartItemsNumber {
	position: absolute;
	font-size: 11px;
	display: none;
	font-family: "Open Sans";
	line-height: 16px;
	background-color: rgb(70, 70, 70);
	color: rgb(255, 255, 255);
	border-radius: 100%;
	padding: 2px 5px;
	min-width: 10px;
	text-align: center;
	margin-top: 6px;
	margin-left: 12px;
}
.cover {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: 1;
	background-color: rgba(0, 0, 0, .3);
	height: 85%;
}
.pageContent {
	text-align: center;
	padding-top: 50px;
}
.paragraph {
	margin: auto;
    width: 50%;
    color: rgb(50, 50, 50);
}
.big {
	font-size: 55px;
	padding-bottom: 20px;
}
.paragraphHeader {
	display: block;
    color: rgb(57, 57, 57);
	font-weight: 700;
	font-family: sans-serif;
	padding-bottom: 10px;
}
.lost {
    position: absolute;
    top: 35%;
    width: 100%
}
.infoHeader {
    display: block;
    color: rgb(57, 57, 57);
	font: 700 55px sans-serif;
    padding-bottom: 15px;
}
.infoMainText {
    font-style: italic;
}
.mainFrame {
    padding-left: 30px;
    padding-top: 50px;
}
.paddingDiv {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.productFrame {
	position: absolute;
	left: 25%;
	top: 30%;
	width: 50%;
}
.imgFrame {
	position: absolute;
	left: 0px;
	display: inline;
}
.textFrame {
	position: absolute;
	right: 0px;
	display: inline;
}
.productImg {
	width: 350px;
	height: 300px;
	padding-top: 60px;
}
.productHeader {
	display: block;
	color: rgb(57, 57, 57);
	font: 700 55px sans-serif;
	padding-bottom: 20px;
}
.productDescription {
	display: block;
	color: rgb(47, 47, 47);
	font: 18px sans-serif;
	padding-bottom: 15px;
}
.productPriceText {
	display: block;
	color: rgb(57, 57, 57);
	font: 700 35px sans-serif;
	padding-bottom: 20px;
}
.footerText {
	position: absolute;
	bottom: 6px;
	display: block;
	width: 100%;
	text-align: center;
	color: rgb(110, 110, 110);
	font-size: 13px;
}