@font-face {
	font-family: "Open Sans";
	font-display: block;;
	src: url(/fonts/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkqt8ndeYxZ0.woff);
}
@font-face {
	font-family: "Raleway";
	font-display: block;;
	src: url(/fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrcVIT9d0c8.woff);
}
body {
	margin: 0px;
}
.navigationBar {
	position: absolute;
	top: 30px;
	width: 100%;
	height: 80px;
}
span {
	font-family: "Open Sans", serif;
}
.topLogoTextDiv {
	z-index: 2;
	display: inline;
	position: absolute;
	top: 5%;
	left: 10%;
	padding-top: 10px;
}
.topLogoText {
	font: 700 35px "Open Sans";
}
.topTextDiv {
	z-index: 2;
	display: inline;
	position: absolute;
	top: 6.5%;
	right: 10%;
	padding-top: 25px;
}
a {
	color: inherit;
	text-decoration: none;
}
.topText {
	z-index: 2;
	color: rgb(110, 110, 110);
	font: 14px "Raleway";
	letter-spacing: .75px;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	transition: color .3s ease;
}
.topText:hover {
	color: rgb(0, 0, 0);
}
.verticalLine {
	background-color: rgb(110, 110, 110);
	display: inline;
	height: 30px;
	position: absolute;
	margin-top: -5px;
	width: 1px;
}
.jobbText {
	padding-right: 18px;
}
.cartText {
	padding-right: 5px;
	padding-left: 25px;
}
.cartIcon {
	position: absolute;
	margin-top: -5px;
}
.cartNumber {
	position: absolute;
	font-size: 11px;
	display: none;
	font-family: "Open Sans";
	line-height: 16px;
	background-color: rgb(70, 70, 70);
	color: rgb(255, 255, 255);
	border-radius: 100%;
	padding: 2px 5px;
	min-width: 10px;
	text-align: center;
	margin-top: 6px;
	margin-left: 12px;
}
.pageContent {
	text-align: center;
	padding-top: 50px;
}
.paragraph {
	margin: auto;
    width: 50%;
    color: rgb(50, 50, 50);
}
.big {
	font-size: 55px;
	padding-bottom: 20px;
}
.paragraphHeader {
	display: block;
    color: rgb(57, 57, 57);
	font-weight: 700;
	font-family: sans-serif;
	padding-bottom: 10px;
}
.lost {
    position: absolute;
    top: 35%;
    width: 100%
}
.footerText {
	position: absolute;
	bottom: 6px;
	display: block;
	width: 100%;
	text-align: center;
	color: rgb(110, 110, 110);
	font-size: 13px;
}