@font-face {
	font-family: "Raleway";
	src: url(/fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrcVIT9d0c8.woff);
	font-display: auto;
}
@font-face {
	font-family: "Open Sans";
	src: url(/fonts/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2);
	font-display: auto;
}
body {
	margin: 0px;
}
.background {
	z-index: 0;
	width: 100%;
	height: 85vh;
	background-attachment: scroll;
	background-image: url("/imgs/website/Johan Background.webp");
	background-position-x: 50%;
	background-position-y: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
.backgroundAnimation {
	animation: backgroundKeyframe .3s;
}
@keyframes backgroundKeyframe {
	from {background-color: transparent}
	to {background-color: rgb(47, 47, 47)}
}
.backgroundAnimationBack {
	animation: backgroundBackKeyframe .3s;
}
@keyframes backgroundBackKeyframe {
	from {background-color: rgb(47, 47, 47)}
	to {background-color: transparent}
}
.navigationBar {
	position: absolute;
	top: 30px;
	width: 100%;
	height: 80px;
}
span {
	font-family: "Open Sans", serif;
}
.topLogoTextDiv {
	z-index: 2;
	display: inline;
	position: absolute;
	top: 5%;
	left: 10%;
	color: rgb(47, 47, 47);
	font-weight: 700;
	padding-top: 10px;
}
.topLogoText {
	font-size: 35px;
}
.topTextDiv {
	z-index: 2;
	display: inline;
	position: absolute;
	top: 6.5%;
	right: 10%;
	padding-top: 25px;
}
a {
	color: inherit;
	text-decoration: none;
}
.topText {
	z-index: 2;
	color: rgb(110, 110, 110);
	font-size: 14px;
	font-family: "Raleway";
	letter-spacing: .75px;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	transition: color .3s ease;
}
.topText:hover {
	color:rgb(0, 0, 0)
}
.current {
	color: rgb(255, 255, 255);
}
.verticalLine {
	background-color: rgb(110, 110, 110);
	display: inline;
	height: 30px;
	position: absolute;
	margin-top: -5px;
	width: 1px;
}
.jobbText {
	padding-right: 18px;
}
.cartText {
	padding-right: 0px;
	padding-left: 25px;
}
.cartIcon {
	position: absolute;
	margin-top: -5px;
}
.cartItemsNumber {
	position: absolute;
	font-size: 11px;
	display: none;
	font-family: "Open Sans";
	line-height: 16px;
	margin-left: 12px;
	background-color: rgb(70, 70, 70);
	color: rgb(255, 255, 255);
	border-radius: 100%;
	padding: 2px 5px;
	min-width: 10px;
	text-align: center;
	margin-top: 6px;
}
.cover {
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	z-index: 1;
	background-color: rgba(0, 0, 0, .3);
	height: 85%;
}
.pageContent {
	text-align: center;
	padding-top: 175px;
}
.pageHeader {
	display: block;
    color: rgb(57, 57, 57);
	font: 700 55px sans-serif;
	padding-bottom: 80px
}
.emptyDiv {
	display: none;
	padding-top: 50px;
}
.emptyHeader {
	display: block;
	color: rgb(50, 50, 50);
	font: 700 18px "Open Sans";
	padding-bottom: 5px;
}
.emptyText {
	color:rgb(110, 110, 110);
}
.button {
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(57, 57, 57);
	font-family: "Raleway";
	font-size: 20px;
	padding: 20px 50px 20px 50px;
	cursor: pointer;
}
.buttonDiv {
	padding-top: 30px;
}
.columnDiv {
	display: none;
	width: 80%;
	margin: auto;
	padding-bottom: 40px;
}
.columnText {
	position: absolute;
	color: rgb(100, 100, 100);
}
.produktColumn {
	left: 10%;
	margin-left: 20px;
}
.prisColumn {
	right: 50%;
}
.antalColumn {
	right: 35%;
}
.totaltColumn {
	right: 20%;
}
.productFrame {
	width: 80%;
	height: 100px;
	box-shadow: 0 0.3125rem 0.9375rem 0 rgb(0 0 0 / 7%);
	margin: auto;
}
.productLink {
	position: absolute;
	left: 10%;
	padding: 10px;
}
.productImg {
	/* height: 80px; */
}
.textDiv {
	position: absolute;
	top: 50%;
	display: inline-block;
	width: max-content;
	text-align: left;
	transform: translateY(-60%);
	padding-left: 20px;
}
.productName {
	font: 700 16px "Open Sans";
	display: block;
}
.productVariant {
	color: rgb(120, 120, 120);
}
.priceText {
	position: absolute;
	left: 49%;
	color: rgb(47, 47, 47);
	transform: translateX(-49%);
	padding-top: 36px;
}
.quantityText {
	position: absolute;
	color: rgb(47, 47, 47);
	padding-top: 36px;
}
.footerLogoText {
	position: absolute;
	bottom: 8px;
	display: block;
	width: 100%;
	text-align: center;
	color: rgb(110, 110, 110);
	font-size: 13px;
}
