@font-face {
	font-family: "Raleway";
	font-display: block;;
	src: url(/fonts/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrcVIT9d0c8.woff);
}
@font-face {
	font-family: "Open Sans";
	font-display: block;;
	src: url(/fonts/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2);
}
body {
	margin: 0px;
}
.navigationBar {
	position: absolute;
	top: 30px;
	width: 100%;
	height: 80px;
}
span {
	font-family: "Open Sans", serif;
}
.topLogoTextDiv {
	z-index: 2;
	display: inline;
	position: absolute;
	top: 5%;
	left: 10%;
	color: rgb(47, 47, 47);
	font-weight: 700;
	padding-top: 10px;
}
.topLogoText {
	font-size: 35px;
}
.topTextDiv {
	z-index: 2;
	display: inline;
	position: absolute;
	top: 6.5%;
	right: 10%;
	padding-top: 25px;
}
a {
	color: inherit;
	text-decoration: none;
}
.topText {
	z-index: 2;
	color: rgb(110, 110, 110);
	font-size: 14px;
	font-family: "Raleway";
	letter-spacing: .75px;
	text-align: left;
	padding-right: 10px;
	padding-left: 10px;
	transition: color .3s ease;
}
.topText:hover {
	color:rgb(0, 0, 0)
}
.verticalLine {
	background-color: rgb(110, 110, 110);
	display: inline;
	height: 30px;
	position: absolute;
	margin-top: -5px;
	width: 1px;
}
.jobbText {
	padding-right: 18px;
}
.cartText {
	padding-right: 5px;
	padding-left: 25px;
}
.cartIcon {
	position: absolute;
	margin-top: -5px;
}
.cartNumber {
	position: absolute;
	display: none;
	font-size: 11px;
	font-family: "Open Sans";
	line-height: 16px;
	margin-left: 12px;
	background-color: rgb(70, 70, 70);
	color: rgb(255, 255, 255);
	border-radius: 100%;
	padding: 2px 5px;
	min-width: 10px;
	text-align: center;
	margin-top: 6px;
}
.pageContent {
	text-align: center;
	padding-top: 50px;
}
.notification {
	opacity: 0;
	z-index: 1;
	position: absolute;
	top: 115px;
	right: 10px;
	width: 300px;
	height: 70px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgb(200, 200, 200) 0px 0px 10px 10px;
	transition: opacity .8s;
}
.notificationText {
	position: relative;
	top: 35%;
	font-family: "Raleway";
}
.infoHeader {
    display: block;
    color: rgb(57, 57, 57);
    font-family: sans-serif;
    font-size: 55px;
    font-weight: 700;
    padding-bottom: 15px;
}
.infoMainText {
    font-style: italic;
}
.mainFrame {
    padding-left: 30px;
    padding-top: 50px;
}
.paddingDiv {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}
.productFrame {
	width: 50%;
	padding-top: 200px;
}
.imgFrame {
	position: absolute;
	right: 45%;
	display: inline;
	width: 45%;
}
.productImg {
	padding-top: 30px;
	padding-left: 70px;
}
.smallProductDiv {
	position: absolute;
	margin-top: -355px;
}
.smallProductDiv:first-child {
	border: 1px solid rgb(80, 80, 80);
	width: 98px;
	height: 98px;
}
.smallProductFrame {
	padding-bottom: 16px;
}
.smallProductImg {
	display: block;
	border-radius: 5px;
}
.selected {
	border: 1px solid rgb(80, 80, 80);
	width: 98px;
	height: 98px;
}
.first {
	border: 1px solid rgb(65, 65, 65);
}
.textFrame {
	position: absolute;
	right: 10%;
	display: inline;
	width: 430px;
	transform: translateY(-9%);
}
.productHeader {
	display: block;
	color: rgb(57, 57, 57);
	font: 700 55px "Open Sans";
	padding-bottom: 20px;
}
.productDescription {
	display: block;
	color: rgb(47, 47, 47);
	font-family: "Raleway";
	font-size: 18px;
	padding-bottom: 15px;
}
.discountedPrice {
	padding-right: 20px;
	padding-left: 20px;
}
.productPriceText {
	color: rgb(57, 57, 57);
	font: 35px "Open Sans";
}
.line {
	color: rgb(140, 140, 140);
	text-decoration: line-through;
	text-decoration-thickness: 2px;
}
.variants {
	padding-top: 20px;
	padding-bottom: 10px;
}
.variant {
	display: inline-block;
	padding: 0px 20px 15px;
}
.variantName {
	display: block;
	color: rgb(80, 80, 80);
	font-family: "Raleway";
	text-align: left;
	padding-bottom: 10px;
}
.variantSelect {
	width: 160px;
	height: 40px;
	color: rgb(80, 80, 80);
	font-family: "Raleway";
}
.placeholderVariantOption {
	display: none;
}
.buttonDiv {
	padding-top: 30px;
}
.button {
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(57, 57, 57);
	font: 20px "Raleway";
	padding: 20px 50px;
	cursor: pointer;
}
.footerText {
	position: absolute;
	bottom: 8px;
	display: block;
	width: 100%;
	text-align: center;
	color: rgb(110, 110, 110);
	font-size: 13px;
}
